/**
 * @name Lufy
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://clearvision.github.io/ClearVision-v6/main.css');

:root {
  --main-color: #5AB2EB;
  --hover-color: #12FB01;
  --success-color: #BC030B;
  --danger-color: #FF0000;
  --url-color: #3672B4;
  --undefined: 0;
  --background-image: url('https://a-static.besthdwallpaper.com/one-piece-monkey-d-luffy-haki-wallpaper-1600x900-20068_47.jpg');
  --background-shading: 35%;
  --background-position: center left;
  --background-size: cover;
  --background-repeat: repeat;
  --background-attachment: fixed;
  --background-brightness: 90%;
  --background-contrast: 125%;
  --background-saturation: 140%;
  --background-grayscale: 10%;
  --background-invert: 0%;
  --background-blur: 3px;
  --background-overlay: rgb(0,43,255,0.13);
  --user-popout-image: url('https://i.imgur.com/f2toPrx.jpg');
  --user-popout-position: center;
  --user-popout-size: contain;
  --user-popout-repeat: repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 90%;
  --user-popout-contrast: 150%;
  --user-popout-saturation: 125%;
  --user-popout-grayscale: 50%;
  --user-popout-invert: 0%;
  --user-popout-blur: 1px;
  --user-modal-image: url('https://i.imgur.com/lJQKpg3.jpg');
  --user-modal-position: center;
  --user-modal-size: 100%;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 80%;
  --user-modal-contrast: 130%;
  --user-modal-saturation: 115%;
  --user-modal-grayscale: 10%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --home-icon: url('https://i.imgur.com/m2OvZ0D.png');
  --home-position: center;
  --home-size: 38px;
  --channel-unread: #BC030B;
  --channel-color: rgb(169,12,0,1);
  --muted-color: rgb(169,12,0,0.71);
  --online-color: #54CA59;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #673AB7;
  --offline-color: #808080;
  --main-font: gg sans;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 210px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS below here */


